.f1text{
    font-size: 3vw;
    font-weight: 400;
    height:20vh;
    width:30vw;
    margin:0px;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    border-bottom-width: 3px;
    transition: 1s;
}